.order-view {
  box-sizing: border-box;
  position: relative;
  padding: 0 1rem;
  display: flex;
  color: #fff;
  /* justify-content: space-between; */
  /* flex-direction: column; */
  /* background-color: red; */
}

.order-details {
  box-sizing: border-box;
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rating {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: solid 1px var(--secondary-color);
  padding: 0.5rem;
  background-color: var(--bg-color);
  border-radius: 4px;
}

/* .rating-btn { */
/* border: none;
  border-radius: 4px;
  color: var(--text-color);
  background-color: ;
  color: #fff;
} */

.order-details strong {
  position: relative;
}

.order-soln,
.summary,
.instructions,
.attachments {
  position: relative;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bg-color);
  border-radius: 4px;
}

.solutions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sln-table tbody td {
  text-align: start;
}

.sln-table tbody .type {
  width: 20%;
}

.sln-table tbody .dnload {
  width: 10%;
}

.sln-table tbody .dnload {
  width: 10%;
}

.order-elements,
.order-soln div div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}

.order-elements .status {
  background-color: green;
  color: white;
  padding: 0.3rem 0.7rem;
  border-radius: 2rem;
  font-size: 0.9rem;
}

/* .complete-order {
  width: inherit;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  border: solid 1px;
  color: #f5f5f5;
} */

.order-soln div div {
  position: inherit;
  gap: 4rem;
}

.instructions {
  line-height: 1.6;
  font-family: inherit;
}

.instructions strong {
  height: 2rem;
}

.download-icon {
  color: #fff;
  border-radius: 50%;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.6;
  background-color: var(--bg-color);
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.instructions strong,
.attachments strong {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #fff;
}

.submit-instructions {
  background-color: #fff;
  border: none;
  color: var(--secondary-color);
  border-radius: 4px;
}

.upload-div {
  position: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
}

.upload-div article {
  border: solid 1px #fff;
  border-radius: 8px;
  padding: 1rem;
  border-style: dashed;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

/* Loading Animations */

.order-skeleton {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.order-skeleton .skeleton-heading,
.double-content {
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skeleton-heading * {
  position: inherit;
  width: 100%;
  height: 1rem;
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 8px;
}

.skeleton-heading div:last-child {
  position: inherit;
  width: 70% !important;
}

.double-content {
  display: flex;
  flex-direction: row !important;
  gap: 1rem;
}

.circle-skeleton {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-content {
  width: 100%;
  height: 5rem;
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 4px;
}

.chat-toggle,
.bidders-toggle {
  display: none !important;
}

.hide-icon-chat {
  display: none !important;
}

.help-icon {
  position: absolute;
  right: 1%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 1;
}

/* Desktop */
@media screen and (min-width: 1200px) {
}

/* Laptop */
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1200px) {
  .support,
  .chat {
    width: 35% !important;
  }

  .order-details {
    width: 52%;
  }
}

@media screen and (max-width: 900px) {
  .order-view {
    width: 100dvw;
  }
  .order-details {
    width: 58%;
  }

  .bid-container {
    width: 40% !important;
  }

  .chat {
    width: 40% !important;
  }
}

@media screen and (max-width: 768px) {
  .hide-icon-chat,
  .chat-toggle,
  .bidders-toggle {
    display: flex !important;
  }
  .order-skeleton .skeleton-heading,
  .double-content {
    width: 100%;
  }
  .order-view {
    padding: 0.5rem;
  }

  .support,
  .chat {
    height: 80% !important;
    bottom: 2% !important;
    width: 98% !important;
    bottom: 0 !important;
    z-index: 1;
  }

  .minimize {
    height: 55% !important;
  }

  .show-chat-box {
    /* height: 80% !important;
    max-height: 80% !important; */
    opacity: 1;
    transition: height 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  .hide-chat-box {
    height: 0 !important;
    opacity: 0;
    transition: height 0.4s ease-in-out, opacity 0.5s ease-in-out;
  }

  .order-details {
    width: 100%;
  }

  .order-soln div div {
    gap: 1rem;
    justify-content: space-between;
  }

  .order-soln,
  .summary,
  .instructions,
  .attachments {
    padding: 0.5rem;
  }

  .rating {
    padding: 0.5rem;
  }
}
