.password-reset {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.password-reset div {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: var(--bg-color);
  color: #fff;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 4px;
}

.reset-form {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.reset-form div {
  position: inherit;
  width: 100%;
  overflow: hidden;
  padding-left: 0 !important;
}

.reset-form input {
  position: inherit;
  padding: 0.8rem;
  border: solid 1px var(--secondary-color);
  border-radius: 2rem;
  outline-color: var(--secondary-color);
  color: var(--text-color);
  font-size: var(--fontsize-normal);
}

.reset-form div input::placeholder {
  color: var(--text-color);
}

.regenerate-link {
  background-color: var(--accent-sec-color) !important;
  padding: 0.8rem;
}

.next-icon,
.loader {
  position: absolute;
  cursor: pointer;
  right: 0;
  color: #fff;
}

.otp-box,
.otp-div {
  position: inherit;
  width: 100%;
}

.otp-box article {
  font-weight: bold;
}

.res-error {
  color: orange !important;
}
